-var head_url = 'https://sale.mastervision.su/july/';
-var head_title = '«Летняя распродажа от MasterVision»';
-var head_description = 'Скидки на курсы до 50%';
-var head_img = 'img/banner.jpg';
-var styles = 'css/styles.min.css';
-var fav_ico = 'favicon.ico';
-var fav_png = 'favicon.png';
-var of_link = 'oferta/oferta.doc'

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/main/main
		include pug/main/second
		include pug/main/courses
		include pug/main/last
		include pug/main/footer
		include pug/main/scripts
		include pug/scripts/chat
		include pug/scripts/body_bottom_scripts