header
	a(href="https://mastervision.su", target="_blank")#logo
	.contacts
		a.contact.contact-phone(href="callto:8-929-568-87-50") 8-929-568-87-50
		a.contact.contact-phone(href="callto:8-499-346-79-46") 8-499-346-79-46
		a.contact.contact-skype(href="skype:add?support-mastervision") support-mastervision
		a.contact.contact-mail(href="mailto:info@mastervision.su") info@mastervision.su