.modal-wrapper.hide#modal-1
	.modal-window
		button.close X
		p 1
.modal-wrapper.hide#modal-2
	.modal-window
		button.close X
		p 2
.modal-wrapper.hide#modal-3
	.modal-window
		button.close X
		p 3
.modal-wrapper.hide#modal-4
	.modal-window
		button.close X
		p 4
.modal-wrapper.hide#modal-5
	.modal-window
		button.close X
		p 5
.modal-wrapper.hide#modal-6
	.modal-window
		button.close X
		p 6
.modal-wrapper.hide#modal-7
	.modal-window
		button.close X
		p 7
.modal-wrapper.hide#modal-8
	.modal-window
		button.close X
		p 8
.modal-wrapper.hide#modal-9
	.modal-window
		button.close X
		p 9
.modal-wrapper.hide#modal-10
	.modal-window
		button.close X
		p 10
.modal-wrapper.hide#modal-11
	.modal-window
		button.close X
		p 11
.modal-wrapper.hide#modal-12
	.modal-window
		button.close X
		p 12
.modal-wrapper.hide#modal-13
	.modal-window
		button.close X
		p 13
.modal-wrapper.hide#modal-14
	.modal-window
		button.close X
		p 14
.modal-wrapper.hide#modal-15
	.modal-window
		button.close X
		p 15
.modal-wrapper.hide#modal-16
	.modal-window
		button.close X
		p 16
.modal-wrapper.hide#modal-17
	.modal-window
		button.close X
		p 17
.modal-wrapper.hide#modal-18
	.modal-window
		button.close X
		p 18
.modal-wrapper.hide#modal-19
	.modal-window
		button.close X
		p 19
.modal-wrapper.hide#modal-20
	.modal-window
		button.close X
		p 20