section#second
	.container
		#second-img
		p.second-text В самый разгар летних отпусков мы, как никогда, открыты новому! Душа находится в поиске ярких впечатлений, свежих направлений и неординарной информации. В этот период часто происходит переосмысление того, что было, подводятся итоги за определённый период и определяются новые цели
		p.second-text Академия Master Vision, предугадывая ваши желания и стремления, дарит всем и каждому уникальную возможность получить судьбоносные знания и навыки, которые не просто наполнят вас новой информацией, но и станут отправной точкой для радикальных жизненных перемен
		p.second-text Согласитесь, впускать новое в свою жизнь проще, если это не требует никаких вложений?
		p.second-text Поэтому мы начинаем ИЮЛЬСКУЮ РАСПРОДАЖУ под девизом «Любимые тренинги – по доступным ценам»! Пусть этот момент станет решающим!
		p.second-text Делая выбор сейчас, вы принимаете решение в пользу перемен к лучшему! Выбирайте свой курс и переходите на новый, качественный, уровень бытия