footer
	width 100%
	padding 20px 0
	text-align: center
	background-color: #fff
	h5
		font-size: 20px;
		color: #000
		margin 0
		font-family: 'RubikBold', sans-serif
	p
	.conditions
		font-size: 14px;
		font-family: 'UbuntuBold'
		color: rgba(0, 0, 0, .6);
	.conditions
		margin 15px 0 0
		text-decoration: underline
.soc_buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 15px 7px 20px
		position relative
		z-index: 1
		.fa
			border-radius: 50px
			background-color: #fff
			border: 1px solid #000
			width: 32px;
			height: 32px;
			color #122138
			line-height 32px
			font-size 18px
			position relative
			z-index 9
			transition all .3s ease
		&:hover
			.fa
				background-color: #000
				color #fff