#second
	padding 10% 0 7%
	overflow hidden
	.container
		position relative
		z-index 10
#second-img
	position: absolute
	width: 673px
	height 672px
	background-image url(../img/images/second_img.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
	top:  -50px
	right -100px
	z-index -1
.second-text
	width 100%
	max-width 583px
	margin-bottom: 40px
	&:last-of-type
		margin-bottom: 0