.courses-title
.course-name
.price
footer h5
footer p
.contact
.main-title
.modal-title
	font-weight: bold
.price
.main-subtitle
.modal-text span
.modal-subtitle
.modal-text-bonus span
	font-weight: 600
.course-footer-20
	display block
	text-align: center
	.button
		display: inline-block
		margin 60px 10px 0
.last-text p
.main-text
.pre
	font-weight: lighter
.last-text p:last-of-type
	font-style: italic